<!DOCTYPE html>
  <html>
    <head>
      <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
      <meta charset="utf-8">
      <title>Info Windows</title>
      <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
          height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
      </style>
    </head>
    <body>
      <div id="map"></div>
      <script>
        function initMap() {

          var sj_earthquakes = {lat: 37.3515358, lng: -121.927683};
          var levis = {lat: 37.4026462, lng: -121.9716};
          var googlepind = {lat: 37.4191656, lng: -122.0725556};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: levis,
            styles: [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }
          ]
          });

          

          var football_marker = {
            path: 'm7.754 7.754c-3.686 3.686-6.114 8.616-6.911 13.581l13.822 13.822c4.965-0.797 9.895-3.225 13.581-6.911s6.114-8.616 6.911-13.581l-13.822-13.822c-4.965 0.797-9.895 3.225-13.581 6.911zm25.615-5.123c-2.662-1.479-5.735-2.121-8.897-2.067l10.965 10.964c0.053-3.162-0.589-6.235-2.068-8.897zm-30.738 30.738c2.662 1.479 5.736 2.121 8.898 2.067l-10.965-10.964c-0.054 3.161 0.588 6.235 2.067 8.897z',
            fillColor: '#662113',
            fillOpacity: 1.0,
            scale: 1

          }

          var soccer_image = {
            path: 'M790 1981 c-200 -44 -367 -139 -516 -293 -112 -116 -202 -273 -246 -433 -19 -69 -22 -105 -22 -260 0 -167 2 -186 27 -269 56 -180 142 -321 276
            -449 124 -119 267 -200 436 -249 70 -20 101 -23 255 -22 204 0 269 14 427 89
            126 59 202 115 303 222 119 125 196 262 242 430 19 66 22 104 22 253 0 149 -3
            187 -22 254 -27 99 -99 250 -156 330 -50 70 -178 196 -250 245 -67 46 -218
            116 -306 141 -109 32 -351 37 -470 11z m330 -161 c55 -9 179 -43 202 -56 4 -3
            -3 -31 -14 -64 -11 -34 -17 -71 -14 -84 3 -13 60 -76 127 -140 150 -144 184
            -155 264 -85 l34 30 30 -63 c53 -113 75 -209 75 -343 l1 -120 -82 -3 c-74 -3
            -84 -5 -102 -28 -21 -27 -111 -290 -111 -325 0 -12 18 -38 43 -61 l42 -39 -60
            -56 c-56 -51 -179 -133 -201 -133 -5 0 -18 23 -28 52 -10 28 -31 64 -46 80
            l-28 28 -241 0 c-278 0 -273 2 -316 -105 -13 -33 -28 -61 -32 -62 -16 -6 -158
            85 -216 137 l-58 52 46 49 c25 26 45 53 45 59 0 19 -82 264 -101 302 -23 44
            -69 62 -148 57 -48 -4 -52 -2 -58 20 -11 42 6 224 27 299 20 72 87 222 100
            222 3 0 19 -14 36 -31 53 -56 113 -73 160 -46 12 7 74 62 138 123 131 124 131
            126 96 229 -11 32 -19 59 -18 60 2 1 26 10 53 19 102 33 243 43 355 26z',
            fillColor: '#662113',
            fillOpacity: 1.0,
            scale: 1
          }
       
          var soccer_marker = new google.maps.Marker({
            position: sj_earthquakes,
            map: map,
            icon: soccer_image

          });

          

  
          var contentString = '<div id="content">'+
              '<div id="siteNotice">'+
              '</div>'+
              '<h1 id="firstHeading" class="firstHeading">Levi Stadium</h1>'+
              '<div id="bodyContent">'+
              '<p><b>Levis stadium</b>, also referred to as <b>home of the 49ers</b>, is a large ' +
              'sandstone rock formation in the southern part of the '+
              'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
              'south west of the nearest large town, Alice Springs; 450&#160;km '+
              '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
              'features of the Uluru - Kata Tjuta National Park. Uluru is '+
              'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
              'Aboriginal people of the area. It has many springs, waterholes, '+
              'rock caves and ancient paintings. Uluru is listed as a World '+
              'Heritage Site.</p>'+
              '</div>'+
              '</div>';
          var googlepinds = '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h1 id="firstHeading" class="firstHeading">Google Pind</h1>'+
          '<div id="bodyContent">'+
          '<p><b>Google Pind</b>, also referred to as <b>home of the Veers</b>, is a large ' +
          'southern part of the Mountain View'+
          'Northern Territory, California. It lies 335&#160;km (208&#160;mi) '+
          'south west of the nearest large town, Alice Springs; 450&#160;km '+
          '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
          'features are free food, gym, and more food.</p>'+
          '</div>'+
          '</div>';

          var googlewindow = new google.maps.InfoWindow({
            content: googlepinds
          });
  
          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });

          var adda = new google.maps.Marker({
            position: googlepind,
            map: map,
            title: 'Google Pind'
             
          });
          adda.addListener('click', function() {
            googlewindow.open(map, adda);
          });
  
          var marker = new google.maps.Marker({
            position: levis,
            map: map,
            title: 'Levis (SF 49ers)',
            icon: football_marker
          });
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
        }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
      </script>
    </body>
  </html>