!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "initial-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:charset => "utf-8"}/
    %title Simple Marker Icons
    :css
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
  %body
    #map
      
   
    %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=&callback=initMap"}
      :cdata
    %script{:async => "", :defer => "defer", :src => "/app/assets/javascripts/sportsmap.js"}
    
